<!DOCTYPE html>
<html>
  <head>
    <title>Login | rBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin/login.css', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
